doctype html
html(class="no-js", lang="en")
  block vars
  include ../includes/head

  body&attributes(bodyAttributes? bodyAttributes : {})

    block content
    
    script(src="js/vendor/jquery-1.11.1.min.js")
    script(src="js/vendor/html2canvas.js")
    script(src=(jsFile)? "js/"+jsFile : "js/site.js")