doctype html
html(class="no-js", lang="en")
  block vars
  include ../includes/head

  body&attributes(bodyAttributes? bodyAttributes : {})
    
    main.container
      block content
    
    script(src="js/site.js")