/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;

	--max-width: 68.8rem;
	/* ~688px at 10px font size */
	--syntax-tab-size: 2;

	--color-gray-10: #d8d8d8;
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	/* Light theme colors */
	--background-color: #fff;
	--bg-alpha: rgba(0, 0, 0, 0.2);

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	--code-bg-color: var(--color-gray-20);
	--code-text-color: var(--color-gray-90);

	/* Dark theme variables */
	--dark-text-color: var(--color-gray-10);
	--dark-text-color-link: #1493fb;
	--dark-text-color-link-active: #6969f7;
	--dark-text-color-link-visited: #a6a6f8;
	--dark-background-color: #15202b;
	--dark-code-bg-color: #272822;
	--dark-code-text-color: var(--color-gray-20);
	--dark-bg-alpha: rgba(100, 100, 100, 0.2);

	--aside-bg-color: #e6f7ff;
	--aside-border-color: #007bff;
	--dark-aside-bg-color: #2b2b2b;
	--dark-aside-border-color: #4da6ff;
}

@media (prefers-color-scheme: dark) {
	html:not([data-theme="light"]) {
		--text-color: var(--dark-text-color);
		--text-color-link: var(--dark-text-color-link);
		--text-color-link-active: var(--dark-text-color-link-active);
		--text-color-link-visited: var(--dark-text-color-link-visited);
		--background-color: var(--dark-background-color);
		--code-bg-color: var(--dark-code-bg-color);
		--code-text-color: var(--dark-code-text-color);
		--bg-alpha: var(--dark-bg-alpha);
		--aside-bg-color: var(--dark-aside-bg-color);
		--aside-border-color: var(--dark-aside-border-color);
	}
}

html[data-theme="dark"] {
	--text-color: var(--dark-text-color);
	--text-color-link: var(--dark-text-color-link);
	--text-color-link-active: var(--dark-text-color-link-active);
	--text-color-link-visited: var(--dark-text-color-link-visited);
	--background-color: var(--dark-background-color);
	--code-bg-color: var(--dark-code-bg-color);
	--code-text-color: var(--dark-code-text-color);
	--bg-alpha: var(--dark-bg-alpha);
	--aside-bg-color: var(--dark-aside-bg-color);
	--aside-border-color: var(--dark-aside-border-color);
}

.color-theme-picker {
	display: none;
}

@media (scripting: enabled) {
	.color-theme-picker {
		display: block;
	}
}

@media (scripting: none) {
	html:has(#color-scheme-select option[value="dark"]:checked) {
		--text-color: var(--dark-text-color);
		--text-color-link: var(--dark-text-color-link);
		--text-color-link-active: var(--dark-text-color-link-active);
		--text-color-link-visited: var(--dark-text-color-link-visited);
		--background-color: var(--dark-background-color);
		--code-bg-color: var(--dark-code-bg-color);
		--code-text-color: var(--dark-code-text-color);
		--bg-alpha: var(--dark-bg-alpha);
		--aside-bg-color: var(--dark-aside-bg-color);
		--aside-border-color: var(--dark-aside-border-color);
	}

	.color-theme-picker {
		display: block;
	}
}

/* Global stylesheet */
*,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

html {
	font-size: 62.5%;
	/* This sets 1rem to 10px, assuming a default browser font size of 16px (16 * 0.625 = 10) */
	overflow-y: scroll;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-family);
	font-size: 1.8rem;
	line-height: 1.75;
	min-height: 100vh;
}

#page {
	color: var(--text-color);
	background-color: var(--background-color);
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.site-header,
main,
footer {
	width: 100%;
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1.6rem;
	flex: 1;
}

footer {
	padding: 1.6rem;
}

@media screen and (min-width: 720px) {

	main,
	footer {
		padding: 1.6rem 0;
	}

}

main :first-child {
	margin-top: 0;
}

.site-header {
	border-bottom: 1px dashed var(--color-gray-20);
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
}

.links-nextprev li span {
	font-weight: 700;
	display: block;
}

.links-nextprev li:last-child {
	text-align: right;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375;
	/* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Header */
.site-header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}

@media screen and (min-width: 720px) {
	.site-header {
		padding: 1em 0;
	}
}

.home-link {
	font-size: 1.8rem;
	font-weight: 700;
	margin-right: 2em;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

nav {
	flex: 1;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	align-items: center;
	font-size: 1.6rem;
}

.nav-item {
	display: inline-block;
	margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* .nav-item-feed {
	margin-left: auto;
} */

/************************/
/* Dark mode checkbox */
.nav-item-theme {
	margin-left: auto;
}

.color-theme-picker {
	font-size: 1.2rem;
	width: 140px;
	display: block;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
}

.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
}

.postlist-date,
.postlist-item:before {
	font-size: 1.3rem;
	color: var(--text-color);
}

.postlist-date {
	word-spacing: -0.5px;
}

.postlist-link {
	font-size: 1.9rem;
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

.postlist-item-draft {
	opacity: 0.6;
}

.postlist-draft {
	display: inline-block;
	margin-right: 1ch;
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--text-color);
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	border: 1px solid var(--text-color);
}

/* Tags */
.post-tag-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: lowercase;
	font-style: italic;
}

.postlist-item>.post-tag-link {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.4rem;
}

.post-metadata time {
	margin-right: 1em;
}

/*
	These are the styles for the '#' anchor links injected by
	the eleventy.config.js. They are visually hidden but you see
	them when you hover over them. It's so you can easily copy the link
	to a specific sub-header in the post. They are injected inside 
	the header tags (h1, h2, etc).
*/
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	/* leave as 1em to match the header style */
	margin-left: 0.1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}

a[href].header-anchor:focus,
:hover>a[href].header-anchor {
	color: #aaa;
}

h2+.header-anchor {
	font-size: 1.5em;
}

footer {
	padding-bottom: 20px;
}

code[class*="language-"],
pre[class*="language-"] {
	font-size: 1.4rem;
}

/* inline code blocks */
code:not([class]) {
	background-color: var(--code-bg-color);
	color: var(--code-text-color);
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	font-size: 1.4rem;
}

/***************************************
 Post styles
 */
/* 
  clear all bottom margins because we only
	want to space in one direction (I chose top)
  because it prevents dealing with collapsing
	margins
*/
.post * {
	margin-bottom: 0;
}

.post-content {
	margin-top: 1.5rem;
}

/* Basic markdown elements */

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
	margin-top: 2.5rem;
	line-height: 1.2;
}

.post h1 {
	font-size: 3.2rem;
}

.post h2 {
	font-size: 2.6rem;
	margin-top: 2em;
}

.post h3 {
	font-size: 1.8rem;
	margin-top: 2em;
}

.post-draft {
	background-color: rgba(245, 237, 2, 0.2);
	padding: 0.2em 0.5em;
	border: 1px solid #f5ed02;
	text-align: center;
}

.post ol,
.post ul,
.post pre {
	margin-top: 1em;
}

.post li {
	margin-top: 0.5em;
}

.post aside {
	margin: 3rem 0;
	padding: 2rem;
	background-color: var(--aside-bg-color);
	border-left: 5px solid var(--aside-border-color);
	font-style: italic;
	color: var(	--text-color);
}

aside::before {
    content: "Note:";
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.9em;
    color: #007bff; /* Use your accent color */
    text-transform: uppercase;
}

aside.admonition-info {
	border-left: 4px solid #2f86eb;
}

.post figure {
	margin: 1.6rem 0;
}

@media screen and (min-width: 720px) {
	.post figure {
		margin: 1.6rem;
	}
}

.post blockquote {
	padding: 1em 1.5em;
	margin: 1em 0;
	border-left: 6px solid var(--color-gray-90);
	background-color: var(--bg-alpha);
}

.post blockquote {
	margin-bottom: 0;
	position: relative;
	quotes: "“" "”";
}

.post blockquote+figcaption {
	margin-top: 0.5em;
}

.post figcaption {
	font-size: 1.4rem;
	color: var(--color-gray-90);
}

.post blockquote::before,
.post blockquote::after {
	display: inline-block;
	position: absolute;
	font-size: 6rem;
	color: var(--text-color);
	opacity: 0.2;
	line-height: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.post blockquote::before {
	content: open-quote;
	top: 3rem;
	left: 0;
}

.post blockquote::after {
	content: close-quote;
	bottom: 0;
	right: 0;
}

/* 
.post code {}
.post li {}
.post ol li {}
.post ul li {}
.post blockquote {}
.post blockquote p {}
.post hr {}
.post a {}
.post img {} */

.demo-content {
	padding: 1rem;
	margin: 0;
}

.sidenote {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.2);
}

.footnotes-sep {
	margin-top: 5rem;
}

.footnotes {
	font-size: 1.4rem;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
	position: absolute !important;
}

*:not(pre) > code {
	word-break: keep-all;
}

demo-component {
	display: block;
	margin-top: 1.6rem;
}

@media screen and (min-width: 720px) {
	demo-component {
		border: 1px solid #666;
		padding: 2rem;
		background: linear-gradient(to bottom, #222, #333);
	}
}

.demo-inner {
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border: 1px solid #666;
	background-color: #fff;
	color: #000;
}

.browser-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #f1f1f1;
	padding: 10px;
	display: flex;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.browser-header::before,
.browser-header::after {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	top: 5px;
}

.browser-header::before {
	left: 10px;
	background-color: #ff5f56;
}

.browser-header::after {
	left: 30px;
	background-color: #27c93f;
}

.demo-load-btn {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 0 auto;
	cursor: pointer;
	transition: background-color 0.3s;
	display: block;
}

.demo-load-btn:hover {
	background-color: #0056b3;
}

.color-block {
	display: inline-block;
	height: 1.6rem;
	width: 1.6rem;
	border: 1px solid black;
}