$inline-form-columns = 2

// Text Inputs
//
// When a text input is used on its own it will have 100% width.  Using default styles for :focus
//
// Markup:
// <input type="text" name="name">
//
// Styleguide 1.1.

input[type="text"], 
textarea
  width: 100%
  font-size: 1em
  padding: 5px


// Label/Text Pairs
//
// There are 2 versions.  One where the label is on top of the form elment and one where its floated left.  In variables.styl you can set whether forms inputs are inline with labels or on top
//
// Markup:
// <div class="input-box {$modifiers}">
//   <label for="name">Name</label>
//   <input type="text" name="name">
// </div>
// <span class="error">Error message goes here</span>
//
// .inline     - Label and Input on same line
// .invalid    - To be used when the input has failed a validation check
// .valid      - To be used when the input has passed a validation check
//
// Styleguide 1.2.

.error
  color: $color-error-text
  display: none
  margin-bottom: 10px;

.input-box, 
.textarea-box
  clearfix()
  margin-bottom: 10px

  &.inline
    label
      col(1/$inline-form-columns)
    input[type="text"]
      col(1/$inline-form-columns)
    
  &.inline + .error
    margin-left: (100% / $inline-form-columns) + 1.5

.valid
  label
    color: $valid
  input, textarea
    border-color: $color-valid-border
    background-color: $valid_bg

.invalid
  margin-bottom 0
  label
    color: $error
  input, textarea
    border-color: $color-invalid-border
    background-color: $color-invalid-bg

.invalid + .error 
  display: block

// Text Areas
//
// Markup:
// <div class="textarea-box {$modifiers}">
//   <label for="info">Info</label>
//   <textarea name="info"></textarea>
// </div>
// <span class="error">Error message goes here</span>
//
// .inline     - Label and text area on same line
// .invalid    - To be used when the input has failed a validation check
// .valid      - To be used when the input has passed a validation check
//
// Styleguide 1.3.

.textarea-box
  clearfix()
  margin-bottom: 10px

  &.inline
    label
      col(1/$inline-form-columns)
    textarea
      col(1/$inline-form-columns)

// Radios
//
// Markup:
// <div class="radio-box {$modifiers}">
//   <p>Choose One</p>
//   <label>
//     <input type="radio" name="radio_example" /> Choice 1
//   </label>
//   <label>
//     <input type="radio" name="radio_example" /> Choice 2
//   </label>
// </div>
// <span class="error">Error message goes here</span>
//
// .inline     - Radios are laid out in columns
// .invalid    - To be used when the input has failed a validation check
// .valid      - To be used when the input has passed a validation check
//
// Styleguide 1.4.

.radio-box
  clearfix()
  margin-bottom: 10px
  label
    display block
    margin-bottom: 5px
  &.inline label
    col(1/$inline-form-columns, cycle: $inline-form-columns)

input[type="radio"]
  margin-right: 5px

// Selects
//
// Selects pretty much get default styling
//
// Markup:
//  <select>
//    <option selected="selected">select one</option>
//    <option value="1">Some Choice 1</option>
//    <option value="2">Some Choise 2</option>
//  </select>
//
// Styleguide 1.5.

.select-box
  margin-bottom 10px

// Checkboxes
//
// Markup:
// <div class="check-box {$modifiers}">
//   <label>
//     <input type="checkbox" name="example" /> Choice 1
//   </label>
//   <label>
//     <input type="checkbox" name="example" /> Choice 2
//   </label>
//   <label>
//     <input type="checkbox" name="example" /> Choice 3
//   </label>
//   <label>
//     <input type="checkbox" name="example" /> Choice 4
//   </label>
// </div>
// <span class="error">Error message goes here</span>
//
// .inline     - Checkboxes are laid out in columns
// .invalid    - To be used when the input has failed a validation check
// .valid      - To be used when the input has passed a validation check
//
// Styleguide 1.6.

.check-box
  clearfix()
  margin-bottom: 10px

  label
    display block
    margin-bottom: 5px

  &.inline label
    col(1/$inline-form-columns, cycle: $inline-form-columns)

input[type="checkbox"]
  margin-right: 5px