$is-ie ?= false

@import 'nib'
@import 'jeet'
@import 'utils/mixins'

// *****************************************************
// Begin Variables 
// can move to a separate file if they get too big
// *****************************************************

$terminal_font = 'VT323', "Lucida Console", monospace;


@import "utils/normalize"
@import 'utils/base'

// *****************************************************
// Begin Page Specific Styles
// *****************************************************

@import 'pages/home'


