head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title=  pageTitle? pageTitle : "Boilerplate"
  if metaKeywords
    meta(name="keywords", content= metaKeywords)
  if metaDesc
    meta(name="description", content= metaDesc)
  meta(name="viewport", content="width=device-width, initial-scale=1")

  script.
    (function(d){
      // clear the "no-js" class from the HTML element as early as possible
      var html = d.getElementsByTagName("html")[0];
          html.className = "";
    })(document);
  link(rel="stylesheet", href=(cssFile)? "css/"+cssFile : "css/app.css")
  script(src="js/vendor/modernizr.custom.js")