extends ./layout/default.jade

block vars
  - var pageTitle = 'franciscog.com'
  - var metaKeywords = ""
  - var metaDesc = ""
  - var bodyAttributes = {  "data-route" : 'home', id : 'home'}
  - var jsFile = "site.js"
  - var cssFile = "app.css"

block content
  canvas#field(width="600", height="500") Your browser does not support HTML5 canvas