extends ./layout/default.jade

block vars
  - var pageTitle = 'franciscog.com | Viewport Dimensions'
  - var metaKeywords = ""
  - var metaDesc = ""
  - var bodyAttributes = {  "data-route" : 'viewport', id : 'viewport'}
  - var jsFile = "viewport.js"
  - var cssFile = "viewport.css"

block content
  h1 Pixel Info
  p A simple tool to determine what is the current pixel dimensions of your browser
  p
    strong.
      Width = <span id="width"></span>
      Height = <span id="height">605px</span>
  
  p
    strong Browser User Agent:
    span(class="ua")
  
  h3(id="mobile") not on a mobile device
      
  p(class="footnote").
    Work in progess.  I'm accomadating for scollbar width using <a href="http://stackoverflow.com/a/7501799">this</a> technique.  It's not perfect,  if you resize the window it's better to refresh for more accurate data.

  .test
    p This container div above has been give the exact height of your browser's viewable area. You should begin seeing this immediately after scolling down

  script(src="js/vendor/jquery-1.11.1.min.js")

