// put all variables here

// colors
$red = #FF0000
$red_light = #e65
$red_lighter = #fdd

$green = #008000
$green_light = #6e5
$green_lighter = #dfd


$bgcolor-container = "something"

// forms
$color-error-text = $red
$color-invalid-border = $red_light
$color-invalid-bg = $red_lighter

$color-valid-text = $green
$color-valid-border = $green_light
$color-valid-bg = $green_lighter

