
body {
  margin 0
  overflow hidden;
  font-size: 16px;
}
  
main {

}

canvas { 
  position:absolute; 
  display block
}

#terminal {
  color: #fff;
  font-family: $terminal_font 
  font-size: 2em;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 20%;
}
