<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">
    <script src="/js/theme-switcher.js"></script>

		{%- css %}{% include "public/css/index.css" %}{% endcss %}
    {# I have commented out the prism css because it's no conditionally added to pages that have syntax on it #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
    <div id="page">

      <header>
        <a href="/" class="home-link">{{ metadata.title }}</a>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <nav>
          <h2 class="visually-hidden">Top level navigation menu</h2>
          <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
          {%- endfor %}

           <li class="nav-item nav-item-feed">
              <a href="/feed/feed.xml">
                Feed
              </a>
            </li>

            <li class="nav-item nav-item-theme">
              <button 
                class="theme-toggle" 
                id="theme-toggle" 
                title="Toggles light & dark" 
                aria-label="auto"
                aria-live="polite"
              >
                <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                  <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
                  <g class="sun-beams" stroke="currentColor">
                    <line x1="12" y1="1" x2="12" y2="3" />
                    <line x1="12" y1="21" x2="12" y2="23" />
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                    <line x1="1" y1="12" x2="3" y2="12" />
                    <line x1="21" y1="12" x2="23" y2="12" />
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                  </g>
                  <mask class="moon" id="moon-mask">
                    <rect x="0" y="0" width="100%" height="100%" fill="white" />
                    <circle cx="24" cy="10" r="6" fill="black" />
                  </mask>
                </svg>
              </button>

            </li>
          </ul>
        </nav>
      </header>

      <main id="skip">
        {{ content | safe }}
      </main>

      <footer>
        <p>
          &copy; {{ metadata.title }} {{ year }}
        </p>
      </footer>
    </div>
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
    <script>{% getBundle "js" %}</script>
	</body>
</html>